@model IEnumerable<Dispute>
@{
    ViewData["Title"] = "Pending Disputes";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>Date Raised</th>
            <th>Raised By</th>
            <th>Job ID</th>
            <th>Reason</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CreatedAt.ToShortDateString()</td>
                <td>@item.RaisedByUser.Email</td>
                <td>@item.RentalJobId</td>
                <td>@item.Reason</td>
                <td>
                    <a asp-action="ResolveDispute" asp-route-id="@item.DisputeId" class="btn btn-primary">View & Resolve</a>
                </td>
            </tr>
        }
    </tbody>
</table>